@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'omyu_pretty';
    font-size: 18px;
}

form{
    margin-bottom: 170px;
    margin-top: 200px;
}

.wrong-container{
    width: 420px;
    height: auto;
    position: relative;
    padding: 50px;
    box-shadow: 3px 3px 10px grey;
    /* border: solid 1px black; */
}

.changePw-container{
    width: 420px;
    height: auto;
    position: relative;
    padding: 50px;
    box-shadow: 3px 3px 10px grey;
    /* border: solid 1px black; */
}

.changePw-title, .changePw-subtitle{
    text-align: center;
    margin: 20px;
}

.changePw-subtitle{
    margin-bottom: 50px;
}

.input{
   width: 396px;
   height: 40px;
   margin: 10px 0px 30px 0px;
   padding: 0 10px;
}

button{
    background-color: rgb(255, 200, 0);
    border: solid 1px rgb(255, 200, 0);
    color: white;
    width: 110px;
    height: 45px;
    margin-left: -2px;
    cursor: pointer;
    font-family: 'omyu_pretty';
} 


.bt-pw{
    width: 419px;
    height: 55px;
    margin-top: 15px;
    background-color: rgb(255, 200, 0);
    border: solid 1px rgb(255, 200, 0);
    color: white;
    font-size: 15px;
    margin: 30px 0px 0px 1px;
}

.bt-pw:hover{
    background-color: rgb(247, 185, 0);
}

button:hover{
    background-color: rgb(247, 185, 0);
}

.back{
	cursor: pointer;
}

.go-join{
	text-decoration: none;
	color: black;
}

.back:hover{
	color: rgb(255, 200, 0);
}

.go-join:hover{
	color: rgb(255, 200, 0);
}

input{
	font-family: 'omyu_pretty';
}

.pw-no, .pwck-no{
	color: #f95a00;
	display: none;
}

.pw-yes, .pwck-yes{
	color: #1cd6ff;
	display: none;
}