@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'omyu_pretty';
    font-size: 18px;
}

form{
    margin-bottom: 170px;
    margin-top: 200px;
}

.join-container{
    width: 580px;
    height: 400px;
    position: relative;
    padding: 50px;
    box-shadow: 3px 3px 10px grey;
    /* border: solid 1px black; */
}

.join-title{
    text-align: center;
    margin: 20px;
}

.join-img{
	font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-img, .doctor-img{
    width: 200px;
    height: 200px;
    margin: 40px 40px 40px 45px;
}

.join-text{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor{
    text-align: center;
    position: relative;
    color: black;
}

.doctor:hover{
	color: #f9bb00;
}

.member{
    text-align: center;
    position: relative;
    color: black;
}

.member:hover{
	color: #f9bb00;
}

a{
    text-decoration: none;
}