body{
    width: 1515px;
}

form{
    margin-bottom: 170px;
    margin-top: 200px;
}

.login-container{
    width: 580px;
    height: 400px;
    position: relative;
    left: 30px;
    padding: 50px;
    box-shadow: 3px 3px 10px grey;
    /* border: solid 1px black; */
}

.login-title{
    text-align: center;
    margin: 20px;
}

.member-img, .doctor-img{
    width: 200px;
    height: 200px;
    margin: 40px 40px 40px 45px;
}

.login-text{
    font-size: 18px;
    font-weight: bold;
}

.doctor{
    margin: 40px 40px 40px 120px;
    position: relative;
}

.member{
    margin: 40px 40px 40px 80px;
    position: relative;
}

a{
    text-decoration: none;
}


