*{
    margin: 0;
    padding: 0;

}

.notice-full-container{
    margin-top: 200px;
}

.notice-origin-box{
    margin: 0 auto;
    width: 1200px;
  
}


.notice-title{
    font-weight: bolder;
    font-size: 45px;
    margin-bottom: 5px;
}

.notice-origin-title{
    margin-left: 140PX;
    width: 910px;
    text-align: center;
}

.notice-list-full-container{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

th, td{
height: 50px;
}

.title-contents{
padding-left: 10px;
}

.write-down-div{
display: flex;
justify-content: right;
margin-right: 180px;
margin-top: 10px;

}

.write-down{
    background-color: #f9bb00;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 70px;
    border: 0px;
    height: 38px;
}

a{
    text-decoration: none;
    color: black;
}


/*페이징처리 위치 참고*/
.paging-part{
    border: 1px solid black;
    width: 500px;
    height: 50px;
    margin: 0 auto;
}
