<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	
   
	<!-- 별칭 설정 -->
	<typeAliases>
		<typeAlias type="com.mama.doc.dto.NoticeDto" alias = "noticeDto"/>
		<typeAlias type="com.mama.doc.vo.AdPrVo" alias = "adPrVo"/>
		<typeAlias type="com.mama.doc.vo.AdClinicVo" alias = "adClinicVo"/>
	</typeAliases>

<environments default="oracle">
   <environment id="oracle">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
         <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
         <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
         <property name="username" value="hr"/>
         <property name="password" value="1111"/>
      </dataSource>
   </environment>
</environments>

   
   	<mappers>
   		<!-- commit할때 지워 -->
		<mapper resource = "com/mybatis/mapper/adNoticeMapper.xml"></mapper>
		<mapper resource = "com/mybatis/mapper/adPrMapper.xml"></mapper>
		<mapper resource = "com/mybatis/mapper/adClinicMapper.xml"></mapper>
	</mappers>
</configuration>

