<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<!-- 별칭 설정 -->
	<typeAliases>
	
		<!-- 나예은 : 일반회원DTO -->
		<typeAlias type="com.mama.doc.dto.MemberDTO" alias="MemberDTO" />
		<!-- 나예은 : 예방알림DTO -->
		<typeAlias type="com.mama.doc.dto.PrecautionDTO" alias="PrecautionDTO" />
		<!-- 나예은 : 예방알림VO -->
		<typeAlias type="com.mama.doc.vo.PrecautionVO" alias="PrecautionVO" />
		<typeAlias type="com.mama.doc.dto.NoticeDto" alias = "noticeDto"/>
		<typeAlias type="com.mama.doc.vo.AdPrVo" alias = "adPrVo"/>
		<typeAlias type="com.mama.doc.vo.AdClinicVo" alias = "adClinicVo"/>
		<typeAlias type="com.mama.doc.dto.AdminDTO" alias="AdminDTO"/>
		<typeAlias type="com.mama.doc.dto.AdNutrientsDTO" alias="AdNutrientsDTO"/>
		<typeAlias type="com.mama.doc.dto.AdNutrientsFileDTO" alias="AdNutrientsFileDTO"/>
		<typeAlias type="com.mama.doc.dto.AdMemberDTO" alias="AdMemberDTO"/>
		<typeAlias type="com.mama.doc.dto.AdDoctorDTO" alias="AdDoctorDTO"/>
		<typeAlias type="com.mama.doc.dto.AdDoctorFileDTO" alias="AdDoctorFileDTO"/>
		<typeAlias type="com.mama.doc.vo.AdNutrientsVO" alias ="AdNutrientsVO"/>
		<typeAlias type="com.mama.doc.vo.AdDoctorVO" alias ="AdDoctorVO"/>
		<typeAlias type="com.mama.doc.dto.ClinicDTO" alias = "ClinicDTO"/>
		<typeAlias type="com.mama.doc.dto.CommentDTO" alias = "CommentDTO"/>
		<typeAlias type="com.mama.doc.cl.vo.ClinicVO" alias = "ClinicVO"/>
		<typeAlias type="com.mama.doc.dto.DoctorDTO" alias = "DoctorDTO"/>
		<typeAlias type="com.mama.doc.dto.DofileDTO" alias = "DofileDTO"/>
		<typeAlias type="com.mama.doc.vo.SearchVO" alias = "SearchVO"/>
		
	</typeAliases>

<environments default="oracle">
   <environment id="oracle">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
         <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
         <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
         <property name="username" value="hr"/>
         <property name="password" value="1111"/>
      </dataSource>
   </environment>
</environments>


   	<mappers>

   		<!-- 나예은 : 회원가입(일반회원) -->
		<mapper resource="com/mybatis/mapper/MemberMapper.xml"></mapper>
		<!-- 나예은 : 예방알림 -->
		<mapper resource="com/mybatis/mapper/PrecautionMapper.xml"></mapper>
   		<!-- commit할때 지워 -->
		<mapper resource = "com/mybatis/mapper/adNoticeMapper.xml"></mapper>
		<mapper resource = "com/mybatis/mapper/adPrMapper.xml"></mapper>
		<mapper resource = "com/mybatis/mapper/adClinicMapper.xml"></mapper>
		<!-- <mapper resource = "mapper.xml경로"></mapper>  -->
		<mapper resource = "com/mybatis/mapper/AdminMapper.xml"></mapper>
		<mapper resource = "com/mybatis/mapper/AdNutrientsFileMapper.xml"></mapper>
		<mapper resource = "com/mybatis/mapper/AdNutrientsMapper.xml"></mapper>
		<mapper resource = "com/mybatis/mapper/AdMemberMapper.xml"/>
		<mapper resource = "com/mybatis/mapper/ClinicMapper.xml"></mapper>
		<mapper resource = "com/mybatis/mapper/DoctorMapper.xml"></mapper>
		<mapper resource = "com/mybatis/mapper/MainPageMapper.xml"></mapper>
		
	</mappers>
	
</configuration>

