<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">
   <insert id="noticeWrite" parameterType="noticeDto">
         INSERT INTO mamadoc_notice(notice_number,admin_number,notice_title,notice_content,notice_date)
      VALUES(seq_mamadoc_notice.nextval,1,#{noticeTitle},#{noticeContent},SYSDATE)
   </insert>
   
  <select id="noticeList" parameterType = "Map" resultType="NoticeDto">
       SELECT *
		FROM(
			SELECT notice_number, admin_number,notice_title,notice_content,notice_date,
			ROW_NUMBER() OVER (ORDER BY notice_number DESC) AS rnum
      		 FROM mamadoc_notice
			<choose> 
				<when test="'name'.equals(searchVO.cate)">
					WHERE notice_title LIKE '%' || #{searchVO.keyword} || '%'
					ORDER BY notice_number desc
				</when>
				<otherwise>
					ORDER BY notice_number desc
				</otherwise>
			</choose>
		) temp
		WHERE rnum BETWEEN #{startRow} AND #{endRow}
   </select>
   
     
   <select id="noticeDetail"  resultType="noticeDto">
      select notice_number, admin_number, notice_title, notice_content, notice_date
      from mamadoc_notice where notice_number = #{noticeNumber}
   </select>
   
   <delete id="noticeDelete" parameterType="long">
      delete from mamadoc_notice where notice_number = #{noticeNumber}
   </delete>
   
   <update id="noticeUpdate" parameterType="noticeDto">
		update mamadoc_notice set notice_title = #{noticeTitle} , notice_content = #{noticeContent}, notice_date = SYSDATE, admin_number = 1 
		where notice_number = #{noticeNumber} 
	</update>
	
	<!-- 공지사항 전체 게시글 수 조회 -->
	<select id="getTotal" parameterType="SearchVO"  resultType="int">
		SELECT COUNT(*) FROM MAMADOC_NOTICE 
			<choose>
				<when test="'name'.equals(cate)">
					WHERE notice_title LIKE '%' || COALESCE(#{keyword, jdbcType=VARCHAR}, '') || '%'
				</when>
				<otherwise>
				</otherwise>
		</choose>
	</select>
   
   
   
</mapper>