<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 나예은 : 회원가입(일반회원) -->
	<select id="join" parameterType="MemberDTO">
		insert into mamadoc_member(member_number, member_name, member_email, member_password, member_nickname,
		member_post_code, member_address, member_detail_address, member_extra_address)
		
		values(seq_mamadoc_member.nextval, #{memberName}, #{memberEmail}, #{memberPassword}, #{memberNickname}, 
		#{memberPostCode}, #{memberAddress}, #{memberDetailAddress}, #{memberExtraAddress})
	</select>
	

</mapper>